*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



header{
    width: 100%;
    height: 50px;
    background-color: #3C3D42;
    color: #9CCD62;
    text-align: center;
    font-family: Lucida Handwriting;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    

}
#navbar{
    width: 70%;
    height: 35px;
    background-color: #c4b178;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: #ffffff solid 2px;
}
.text-h1{
    width: 150px;
}
.h1-click{
    background-color: rgb(49, 49, 49);
    font-size: 20px;
    border-radius: 7px;
}
.h1-click:hover{
    color: #e6eba0;
}

main{
    width: 100%;
    height: 700px;
    background-color: #e6eba0;
    border: #ffffff solid 4px;
    display: flex;
    align-items: center
    

}

.info-div{
    width: 80%;
    height: 80%;
    background-color: #3C3D42;
    border: #9CCD62 solid 4px;
    text-align: center;
    
}

.h1-text{
    font-family: Harrington;
    font-size: 50px;
}
.p-text{
    font-size: 30px;
}




footer{
    width: 100%;
    height: 130px;
    background-color: #3C3D42;
}






@media screen and (min-width: 352px){
    
    #div-products{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: auto;
        
        }
}


@media screen and (max-width: 352px) {
    
    
    header{
        width: 100%;
        height: 100px;
        text-align: center;
        font-family: Lucida Handwriting;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    
    }
    #navbar{
        width: 80%;
        display: flex;
        align-items: center;
        border-radius: 30px;
        border: #ffffff solid 2px;
    }
    

    .h1-click{
        font-size: 15px;  
        border-radius: 7px;
        
    }

}
